<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border=1 style="text-align: center;">
        <tr >
            <th style="background-color: aqua;">Item/Customer</th>
            <th style="background-color: rgb(157, 157, 238);">Customer1</th>
            <th style="background-color: rgb(157, 157, 238);">Customer2</th>
            <th style="background-color: rgb(157, 157, 238);">Total</th>
        </tr>
        <tr >
            <td style="background-color: rgb(244, 218, 93);">Quantity</td>
            <td style="background-color: rgb(202, 198, 198);"><%=qtyC1%></td>
            <td style="background-color: rgb(202, 198, 198);"><%=qtyC2%></td>
            <td style="background-color: rgb(202, 198, 198);"><%=qtyTotal%></td>
        </tr>
        <tr>
            <td style="background-color: rgb(244, 218, 93);">Weight</td>
            <td style="background-color: aqua;"><%=wtC1%></td>
            <td style="background-color: aqua;"><%=wtC2%></td>
            <td style="background-color: aqua;"><%=wtTotal%></td>
        </tr>
        <tr>
            <td style="background-color: rgb(244, 218, 93);">Box Count</td>
            <td style="background-color: rgb(202, 198, 198);"><%=bcC1%></td>
            <td style="background-color: rgb(202, 198, 198);"><%=bcC2%></td>
            <td style="background-color: rgb(202, 198, 198);"><%=bcTotal%></td>
        </tr>
    </table>
</body>
</html>